* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 8px;
    &.price {
        font-size: 1.5em;
        font-weight: bold;
    }
}

button.no-m {
    margin: 0;
}

.no-decor {
    text-decoration: none;
    color: #000;
}